/* NOTHING NEW UNDER THE SUN */

/* width */
::-webkit-scrollbar {
width: 0px;
}




html {
  min-height: 100vh;
}
body {
  font-family: "Azeret Mono", monospace;
  text-rendering: geometricPrecision;
  background-color: black;
  background-attachment: fixed;
  max-height: 100vh;
}

a:link,
a:visited {
  color: #cefc03;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: #383838;
  text-decoration: none;
}



#header {
  font-size: 5em;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.about {
  text-align: center;
  font-size: 10%;
  margin-top: 25px;
  color: white;
}

#links {
  fill: #ffffff;
  text-align: center;
  width: 66%;
  max-height: 14px;
  font-size: 60%;
  margin: auto;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.svg {
  height: 15px;
}

#container {
}

#footer {
  z-index: 0;
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  background-color: transparent;
  text-align: center;
  font-size: small;
  font-weight: 200;
  color: white;
}

#footer a:link,
#footer a:visited {
  color: white;
  text-decoration: none;
}

#footer a:hover,
#footer a:active {
  color: white;
  text-decoration: none;
}

.head {
  text-align: center;
  margin: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

.cats {
  position: absolute;
  margin: 0.1em;
  width: 24%;
  border-radius: 0.75em;
  padding: 2%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

/* P0RT0F0LI0 */

/* baris satu */

#title-visual-arts {
  z-index: 40;
  font-size: 1.25em;
  left: 64vw;
  top: 10vh;
  color: transparent;
  -webkit-text-stroke: 0.5px #cefc03;
}

#floratech {
  left: 10%;
  top: 4%;
}

#akimbo {
  left: 50%;
  top: 15%;
}

#fragile {
  left: 60%;
  top: 66%;
}

#pray {
  left: 39%;
  top: 94%;
}

#wap {
  left: 10%;
  top: 90%;
}


#newyear {
left: 40%;
top: 50%;
width: 12%;
z-index: 10;
}

#newyearloop {
  left: 25%;
  top:  30%;
}

#radioactive {
  left:  3%;
  top: 64%;
}

#baracuda {
  left: 69%;
  top: 32%;
}

#urmomlol {
  left: 20%;
  top: 50%;
  z-index: 3;
}

#freddy {
  left: 38%;
  top: 28%;
}

#videowkwk {
  left: 50%;
  top: 50%;
}

/* baris dua */

#title-logoworks {
  font-size: 1.25em;
  left: 6vw;
  top: 150%;

  color: black;
  -webkit-text-stroke: 0.5px #cefc03;
}

#logo-1 {
  left: 12%;
  top: 160%;
  width: 5vw;
  object-fit: cover;
}

#logo-2 {
  left: 24%;
  top: 160%;
  width: 5vw;
  object-fit: cover;
}

#logo-3 {
  left: 36%;
  top: 160%;
  width: 5vw;
  object-fit: cover;
}

#logo-4 {
  left: 48%;
  top: 160%;
  width: 5vw;
  object-fit: cover;
}

#logo-5 {
  left: 12%;
  top: 160%;
  width: 5vw;
  object-fit: cover;
}

#logo-6 {
  left: 24%;
  top: 180%;
  width: 5vw;
  object-fit: cover;
}

#logo-7 {
  left: 36%;
  top: 180%;
  width: 5vw;
  object-fit: cover;
}

#logo-8 {
  left: 48%;
  top: 180%;
  width: 5vw;
  object-fit: cover;
}

/* baris tiga */

#title-branding {
  font-size: 1.25em;
  left: 60vw;
  top: 200%;
 
  color: black;
  -webkit-text-stroke: 0.5px #cefc03;
}

#branding-1 {
  left: 10%;
  top: 210%;
}

#branding-2 {
  left: 20%;
  top: 210%;
}

#branding-3 {
  left: 30%;
  top: 210%;
}

#branding-4 {
  left: 40%;
  top: 210%;
}

#branding-5 {
  left: 40%;
  top: 210%;
}

#branding-6 {
  left: 40%;
  top: 210%;
}

/*
|
|
*/

/* BEGIN INTERACTIVE CLASSES */
/* these settings would set how things behave  */

.draggable {
  position: absolute;
  margin: 0.1em;
  width: 20%;
  border-radius: 0.75em;
  padding: 2%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

.draggable.switch-bg {
  background-size: 100%;
}

.draggable img {
  width: 100%;
  height: auto;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.draggable.switch-bg img {
  width: 90vh;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.draggable video {
  width: 100%;
  height: auto;

  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.draggable.switch-bg video {
  width: 90vh;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.draggable div {
  display: none;
  background-color: black;
  text-align: left;
  width: 150%;
  padding: 4%;
  left: 200px;
  top: 20px;
  font-size: x-small;
  color: white;
}

.draggable.switch-bg div {
  display: block;
}

.fadein {
  /* everything under this class will fade in on load */
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* boxer id for debug purposes */
#boxer {
  border: 2px solid red;
  background-color: #2d2d2dec;
  text-align: center;
  width: 25%;
  padding: 4%;
  left: 200px;
  top: 20px;
  font-size: x-small;
  color: #c3c3c3;
  margin: auto;
  /*
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); */
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.sideout {
  position: fixed;
  left: 500px;
}

.hamburger {
  text-align: center;
  position: fixed;
  left: 2vw;
  top: 45vh;
  z-index: 49;
  cursor: pointer;
  writing-mode: vertical-lr;
  animation: mymove 1s infinite alternate;
   
}

.hamburger h1 {
  font-size: 1em;
  font-weight: 400;
  color: white;

 
}

.hamburger h2 {
  font-size: 1em;
  font-weight: 400;
  color: #cefc03;
  text-orientation: upright;
  margin-left: -5%;
  
}

@keyframes mymove {
  from {
    left: 2vw;
  }
  to {
    left: 2.5vw;
  }
   {
    animation-timing-function: ease-in;
  }
}

.hamburger-mobile {
  display: none;
  text-align: center;
  position: fixed;
  left: 2vw;
  top: 40vh;
  z-index: 48;
  cursor: pointer;
  writing-mode: vertical-lr;
  animation: mymove 1s infinite alternate;
   
}

.hamburger-mobile h1 {
  font-size: 1em;
  font-weight: 400;
  color: white;

 
}

.hamburger-mobile h2 {
  font-size: 1em;
  font-weight: 400;
  color: #cefc03;
  text-orientation: upright;
  margin-left: -5%;
  
}

@keyframes mymove {
  from {
    left: 2vw;
  }
  to {
    left: 2.5vw;
  }
   {
    animation-timing-function: ease-in;
  }
}

.tutup{
  display: none;
 text-align: center;
  position: fixed;
  left: -400px;
  top: 40vh;
  z-index: 47;
  cursor: pointer;
  writing-mode: vertical-lr;
  transition: left 0.3s;
  
}



.tutup h1 {
    font-size: 1em;
  font-weight: 400;
  color: #cefc03;
}


.menu {
  width: 450px;
  height: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: -450px;
  transition: left 0.3s;
  z-index: 50;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}


.menu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.menu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.menu--open {
  left: 0;
}

.menu-item {
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 1rem 3rem;
  box-sizing: border-box;
}

.menu-item-1 {
  font-size: 400%;
  font-weight: 900;
  color: #000000;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  background: #cefc03;
}

.menu-item-2 {
  color: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 400;
  width: 100%;
  padding-top: 30px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 26px;
  box-sizing: border-box;
}

.menu-item-3 {
  color: rgb(0, 0, 0);
  width: 100%;
  font-weight: 600;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 26px;
  box-sizing: border-box;
  font-size: 15px;
}

.menu-item-3 span:after {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
}

.menu-item-3 li {
  left: 200px;
  font-size: 13px;
}

.menu-item-3a {
  color: rgb(0, 0, 0);
  width: 100%;
  font-weight: 600;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 26px;
  box-sizing: border-box;
  font-size: 15px;
}

.menu-item-3a span:after {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
}

.menu-item-3a li {
  left: 200px;
  font-size: 13px;
}

.menu-item-4 {
  color: rgb(0, 0, 0);
  width: 100%;
  padding-left: 10px;
  padding-right: 10%;
  font-size: 12px;
}

.menu-item-4 p {
  color: rgb(0, 0, 0);
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  font-style: italic;
}

.menu-skills {
  color: rgb(0, 0, 0);
  width: 100%;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 26px;
  box-sizing: border-box;
  font-size: 10px;
}

.menu-skills span {
  padding: 7px;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 2px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  display: inline-block;
}

@media (max-width: 480px) {

.draggable img {
  width: 150%;
}

.draggable.switch-bg img {
  width: 200%;
}

.draggable video {
  width: 150%;
}



  #title-visual-arts {
    font-size: 0.5em;
    left: 50vw;
  }

  #title-logoworks {
    font-size: 0.5em;
    left: 30vw;
  }

  #title-branding {
    font-size: 0.5em;
    left: 30vw;
  }

.hamburger {
  display:  none;
}

.hamburger-mobile {
  display: block;
}

.menu {
  width: 90%;
  z-index: 50;
}

.menu-item-1 {
  font-size: 300%;
}

.menu-item-2 {
  padding-bottom: 20px;
}

.menu-item-3 {
  padding-top: 0px;
}

.menu-item-4 {
  font-size: 11px;
  padding-bottom: 10px;
      padding-left: 0px;
}

.menu-item-3a {
  padding-top: 0px;
}

.menu-skills {
  padding-top: 0px;
  padding-bottom: 20px;
}

.menu-item-3 span:after {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
}

.menu-item-3a span:after {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
}



.tutup {
  display: inline;
}


  }



}

}





/* can be useful itf
.menu-item:hover {
  background: #91966E;
  cursor: pointer;
}

*/
